<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Femto Mangas</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <script th:src="@{/script.js}"></script>
</head>
    <script>
        window.onload = function() {
      let ancho = window.innerWidth;
      let alto = window.innerHeight;
      document.getElementById('wrapper').textContent =
          'Ancho: ' + ancho + ' Alto: ' + alto;

      fetch('/recibirPantalla', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify({ ancho: ancho, alto: alto })
      })
      .then(response => response.json())
      .then(data => {
          console.log('Respuesta del Backend:', data);
      })
      .catch(error => {
          console.error('Error al enviar datos', error);
      });
  }
</script>
<body class="main-bg">
    <div class="wrapper">
    <header>
        <!--logo, menu, biblioteca, buscador y login/  -->
        <p>Visitas en esta sesión: <span th:text="${visitas}"></span></p>
    </header>
        <main>
            <!--Social, Visto Recientemente, últimas actualizaciones, capitulos populares, mangas populares -->
        </main>
    </div>
</body>
</html>
